[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "makemyprior"]
	path = makemyprior
	url = https://github.com/cran/makemyprior
	shallow = true
	registered = true
